*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "banner banner"
    "logo logo"
    "form form"
    "footer footer";
}
